body {
    background-color: #f3e5f4;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 1.35rem;
    padding: 0.5rem;
}
nav ul li {
    display: grid;
    padding: 0.45rem;
    color: #d42257;
    text-align: center;
    font-size: 1.6rem;
    justify-content: space-around;
}

.bolded {
    font-weight: bold;
}

ul {
    display: grid;
    margin-top: 0.1rem;
}

@media (max-width: 800px) {
    nav ul li {
        flex-direction: column;
    }
}

.active {
    display: grid;
    padding: 0.5rem;
    background-color: #d42257;
    color: #ffffff;
}

.food-about {
    display: grid;
    padding: 0 0.4rem 0.4rem 0.4rem;
}

.gallery {
    background-color: #c8718a;
    border: 2.5px solid #461322;
    padding: 0.5rem;
    display: grid;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 0.5rem;
}

.food-gallery {
    background-color: #c8718a;
    border: 2.5px solid #461322;
    padding: 0.5rem;
    display: grid;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 0.5rem;
}

.center-image {
    display: grid;
    border: 5px solid #461322;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    margin: 1.5rem;
    border-radius: 10%;
}

.center-travel-image {
    display: grid;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    margin: 1.5rem;
}

.image-gallery {
    width: 90%;
    height: 90%;
    margin: 0.2rem;
    border: 2px solid #461322;
}

.index {
    font-size: 5rem;
}

h1 {
    display: grid;
    margin: auto;
    justify-content: center;
    border: 3px solid #3a00ff;
    color: #3a00ff;
    padding: 1rem;
    font-size: 6rem;
}

h2 {
    display: grid;
    color:#991c41;
    border-bottom: 3px solid #991c41;
    font-size: 3rem;
}

h3 {
    display: grid;
    margin-top: 14%;
    margin-bottom: 2%;
    font-size: 2rem;
}

.skip-link {
    position: absolute;
    top: auto;
    left: -10000px;
    width: 1px;
    height: 1px;
    background-color: #d42257;
    color: #fff;
    font-size: 1.125rem;
    overflow: hidden;
}

.skip-link:focus {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 0.5em;
}
